/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container for the images */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

/* Individual image boxes */
.image-box {
    flex: 1 1 calc(20% - 10px);
    margin: 5px;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
}

/* Responsive layout */
@media (max-width: 600px) {
    .image-box {
        flex: 1 1 100%;
    }
}


#red {
    color: red; /* Change the font color to blue */
}

#blue {
    color: blue; /* Change the font color to blue */
}

#orange {
    color: orange; /* Change the font color to blue */
}

#green {
    color: green; /* Change the font color to blue */
}

#yellow {
    color: yellow; /* Change the font color to blue */
}

.color-title {
    font-weight: normal;
}

img {
    width: 200px;
    height: 200px;
}