body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.image-box {
    flex: 1 1 calc(20% - 10px);
    margin: 5px;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 600px) {
    .image-box {
        flex: 1 1 100%;
    }
}


#red {
    color: red; }

#blue {
    color: blue; }

#orange {
    color: orange; }

#green {
    color: green; }

#yellow {
    color: yellow; }

.color-title {
    font-weight: normal;
}

img {
    width: 200px;
    height: 200px;
}